/*Global HTML settings*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background: linear-gradient(to left, rgb(23, 23, 105), rgb(19, 149, 255));
}

/*Used mediaqueries to make it responsive for every device*/
@media (max-width:410px) {
    .input--divs {
        height: 45%;
        width: 45%;
        left: 25%;
    }

    .input--form {
        padding: 1%;
    }

    #header-img2 {
        width: 50%;
        height: 50%;
    }

    .income--div {
        width: 35%;
        position: relative;
    }

    .spending--div {
        width: 45%;
    }

    #income-h2 {
        position: relative;
        left: 10%;
    }

    footer {
        position: fixed;
    }
} 

@media (min-width:411px) and (max-width:539px) {
    .select {
        margin-top: 4.6%;
    }

    #header-img2 {
        width: 50%;
        height: 50%;
    }

    .income--div {
        width: 33%;
        position: relative;
    }

    .spending--div {
        width: 35%;
    }

    #income-h2 {
        position: relative;
        left: 10%;
    }

    footer {
        position: fixed;
    }

}

@media (min-width:540px) and (max-width:767px) {
    .select {
        margin-top: 3.6%;
    }

}

@media (min-width:768px) and (max-width:1023px) {
    .select {
        margin-top: 2.6%;
    }

    footer {
        position: fixed;
    }

}

@media (min-width:1024px) and (max-width:1100px) {
    .select {
        margin-top: 2%;

    }

    footer {
        position: fixed;
    }   

}