@import "./sass/_header.scss"; 
@import "./sass/_form.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

@media (max-width:410px) {
    .input--div {
        height: 50%;
        width: 50%;
        left: 25%;
    }

    .input--form {
        padding: 1%;
    }
} 