/*Footer section*/
footer {
    background-color: darkgray;
    height: 5rem;
    width: 100%;
    position: relative;
    bottom: 0;
}

.footer--contact {
   padding: 1%;
}

.contact {
    margin-top: 0.5%;
}
