/*Section for form*/
.input--divs {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    font-family: $font-text; 
    color: $color-text; 
}

.select {
    margin-top: 1.6%;
}

#calculate, #button {
    font-family: $font-text; 
}   

.input--form {
    padding-left: 1%;
    padding-right: 1%;
}

#description, #amount {
    font-family: $font-text; 
    color: hotpink;
}