/*Section for form*/

.input--divs {
    display: flex;
    height: 100%;
    width: 100%;
    flex-wrap: wrap;
    justify-content: center;
    position: relative;
    font-family: Cormorant Garamond;
    color: white;
}

.select {
    margin-top: 1.6%;
}

#calculate, #button {
    font-family: Cormorant Garamond;
}   

.input--form {
    padding-left: 1%;
    padding-right: 1%;
}

#description, #amount {
    font-family: Cormorant Garamond;
    color: hotpink;
}